params {

  // Directories
  work_dir    = "/$PWD"
  reads   ="${params.work_dir}/sample"
  output_dir  ="results"

  // Data
  sampleTumor     ="tumor"
  sampleControl   ="control"

  // References
  RefFasta        ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.fa"
  RefDict         ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.dict"
  RefIndex        ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.fa.fai"

  VepFasta        ="/data/databases/vep/homo_sapiens/91_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"

  BwaRefAmb       ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.fa.amb"
  BwaRefSa        ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.fa.sa"
  BwaRefAnn       ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.fa.ann"
  BwaRefPac       ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.fa.pac"
  BwaRefBwt       ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.fa.bwt"

  intervals       =""

  // Databases
  Miles_Gold      ="/data/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf"
  Miles_Gold_idx  ="/data/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.idx"
  Cosmic          ="/data/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf"
  CosmicIdx       ="/data/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf.idx"
  dbsnp           ="/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf"
  dbsnp_idx       ="/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
  gnomAD          ="/home/haider/myScratch/wes/hg38_ref/small_exac_common_3.hg38.vcf"
  gnomADidx       ="/home/haider/myScratch/wes/hg38_ref/small_exac_common_3.hg38.vcf.idx"
  knownIndels     ="/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf"
  knownIndels_idx ="/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf.idx"
  vep_dir         = "/data/databases/vep"
  vep_chache      ="/data/databases/vep/"


  // Software
  BWA             ="/usr/local/bioinf/bwa/latest/bwa"
  Varscan         ="/usr/local/bioinf/varscan/latest/VarScan.v2.4.3.jar"
  BAMREADCOUNT    ="/usr/local/bioinf/bam-readcount/latest/bam-readcount"
  GATK4           ="/usr/local/bioinf/gatk/latest4/gatk"
  MUTECT1         ="/usr/local/bioinf/mutect/latest/mutect-1.1.7.jar"
  GATK3           ="/usr/local/bioinf/gatk/latest/GenomeAnalysisTK.jar"
  SAMTOOLS        ="/usr/local/bioinf/samtools/latest/bin/samtools"
  VEP             ="/usr/local/bioinf/vep/ensembl-vep/vep"
  PICARD          ="/usr/local/bioinf/picard/latest/picard.jar"

  // Default values

  // VarScan
  ProcessSomatic_pvalue   ="0.05"
  min_cov                 ="10"
  min_cov_tumor           ="10"
  min_cov_normal          ="10"
  min_freq_for_hom        ="0.75"
  tumor_purity            ="0.95"
  Somatic_pvalue          ="0.99"
  Somatic_somaticpvalue   ="0.05"
  strand_filter           ="1"
  max_normal_freq         ="0.05"
  min_tumor_freq          ="0.1"

  // BAMREADCOUNT
  min_map_cov             ="10"
  min_base_q              ="20"

  // SAMTOOLS
  q                       ="1"

  // VEP
  vep_assembly            ="GRCh38"
  vep_species             ="homo_sapiens"
  vep_threads             ="16"
}
