process {
  executor = 'sge'
  penv = 'smp'
  clusterOptions = { '-V -S /bin/bash -q all.q@apollo-*' }

  cpus =1
  memory ="16GB"

  withName:BwaTumor {
    cpus = 16
  }
  withName:BwaControl {
    cpus = 16
  }

  wihtName:Mutect2Tumor {
    cpus = 4
  }
  wihtName:Mutect2 {
    cpus = 4
  }

  withName:IndelRealignerTumor {
    cpus = 24
  }
  withName:IndelRealignerControl {
    cpus = 24
  }

  withName:FixMateBaseRecalTumor {
    cpus = 8
  }
  withName:FixMateBaseRecalControl {
    cpus = 8
  }

  withName:PrintReadsTumor {
    cpus = 8
  }
  withName:PrintReadsControl {
    cpus= 8
  }
}
