includeConfig './sge.config'

params {

  help  = false
  email = false
  name  = false
  plaintext_email = false

  //Data
  readsTumor    = "NO_FILE" // REQUIRED: absolute path to reads files of tumor sampled;
                            // paired-end reads "/PATH/TO/FILE/reads_tumor{1,2}.fq"
                            // single-end reads "/PPATH/TO/FILE/reads_tumor1.fq"
  readsNormal  = "NO_FILE" // OPTIONAL: absolute path to reads file of Normal sample:
                            // paired-end reads "/PATH/TO/FILE/reads_normal{1,2}.fq"
                            // single-end reads "/PATH/TO/FILE/reads_tumor1.fq"
  readsRNAseq   = "NO_FILE" // OPTIONAL: absolute path to reads file of RNAseq data:
                            // paired-end reads "/PATH/TO/FILE/reads_RNA_{1,2}.fq"
                            // single-end reads "/PATH/TO/FILE/reads_RNA_1.fq"
  customHLA     = "NO_FILE" // OPTIONAL: absolute path to user supplied HLAs
                            // format: 1 HLA type per line 4 digit (e.g. HLA-A*01:01)

  WES            = true  // if false assume WGS, attention long runtimes
  single_end     = false
  single_end_RNA = false
  readLength     = 150

  trim_adapters        = false
  adapterSeq           = false // "AGATCGGAAGAG" Illumina Universal Adapter
  adapterSeqR2         = false
  adapterSeqFile       = false // fasta file with adapter seqs

  trim_adapters_RNAseq = false
  adapterSeqRNAseq     = false // "AGATCGGAAGAG"  Illumina Universal Adapter
  adapterSeqR2RNAseq   = false
  adapterSeqFileRNAseq = false // fasta file with adapter seqs

  // extra options for fastp
  fastpOpts    = ""
  fastpRNAOpts = ""

  // Panel of normals (see: https://gatk.broadinstitute.org/hc/en-us/articles/360040510131-CreateSomaticPanelOfNormals-BETA-)
  mutect2ponFile = false

  priorityCaller = "m2" // set the variant caller used as base for the hc variants.
                        // Only variants that are confirmed by any of the two confirming
                        // callers (e..g. mutect1, varscan) will be retained
                        // m2 = mutect2, m1 = mutect1, vs = varscan

  //Directories
  tmpDir          = "/local/scratch/$USER"
  workDir         = "$PWD"
  outputDir       = "${workDir}/RESULTS"
  publishDirMode  = "link" // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy", "copyNoFollow" - copying wihtout following symlink

  tracedir         = "${params.outputDir}/pipeline_info"
  manifest.version = '1.0'

  //References
  references {
    RefFasta           = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.fa"
    RefIdx             = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.fa.fai"
    RefDict            = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.dict"
    BwaRef             = "/data/genomes/hg38/index/bwa/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.fa.{amb,sa,ann,pac,bwt}"
    VepFasta           = "/data/databases/vep/homo_sapiens/99_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
    BaitsBed           = "/data/databases/ExomeCaptureKits/Agilent/hg38/S07604514_Covered.bed"
    RegionsBed         = "/data/databases/ExomeCaptureKits/Agilent/hg38/S07604514_Regions.bed"
    YaraIndex          = "/data/projects/2019/NeoAG/OptiType-nf/data/indices/yara/hla_reference_dna"
    HLAHDFreqData      = "/data/projects/2019/NeoAG/HLA_HD/hlahd.1.2.1/freq_data"
    HLAHDGeneSplit     = "/data/projects/2019/NeoAG/HLA_HD/hlahd.1.2.1/HLA_gene.split.txt"
    HLAHDDict          = "/data/projects/2019/NeoAG/HLA_HD/hlahd.1.2.1/dictionary/"
    STARidx            = "/data/genomes/hg38/index/STAR/2.7.1a/GDC_GENCODE/GRCh38.d1.vd1/star_genome_d1_vd1_gtf_gencode_v33/100"
    AnnoFile           = "/data/genomes/hg38/annotation/gencode/gencode.v33.primary_assembly.annotation.gtf"
  }

  //Databases
  databases {
    MillsGold      = "/data/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf"
    MillsGoldIdx   = "/data/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.idx"
    hcSNPS1000G    = "/data/databases/GATKresourceBundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
    hcSNPS1000GIdx = "/data/databases/GATKresourceBundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi"
    HapMap         = "/data/databases/GATKresourceBundle/hapmap_3.3.hg38.vcf.gz"
    HapMapIdx      = "/data/databases/GATKresourceBundle/hapmap_3.3.hg38.vcf.gz.tbi"
    Cosmic         = "/data/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf"
    CosmicIdx      = "/data/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf.idx"
    DBSNP          = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf"
    DBSNPIdx       = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
    GnomAD         = "/data/databases/GATKresourceBundle/Mutect2/GetPileupSummaries/small_exac_common_3.hg38.vcf"
    GnomADIdx      = "/data/databases/GATKresourceBundle/Mutect2/GetPileupSummaries/small_exac_common_3.hg38.vcf.idx"
    GnomADfull     = "/data/databases/GATKresourceBundle/Mutect2/gnomAD/af-only-gnomad.hg38.vcf.gz"
    GnomADfullIdx  = "/data/databases/GATKresourceBundle/Mutect2/gnomAD/af-only-gnomad.hg38.vcf.gz.tbi"
    KnownIndels    = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf"
    KnownIndelsIdx = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf.idx"
  }


  //Software
  FASTQC          = "/usr/local/bioinf/bin/fastqc" // Version v0.11.8
  FASTP           = "/usr/local/bioinf/bin/fastp" // Version >=v0.20.1
  BWA             = "/usr/local/bioinf/bwa/latest/bwa" // Version 0.7.17
  VARSCAN         = "/usr/local/bioinf/varscan/latest/VarScan.v2.4.3.jar" // Version: 2.4.3
  BAMREADCOUNT    = "/usr/local/bioinf/bam-readcount/latest/bam-readcount" // Version: 0.8.0
  GATK4           = "/usr/local/bioinf/gatk/gatk-4.1.7.0/gatk" // Version: 4.1.4.1 // 4.1.6.0 has to many problems
  MUTECT1         = "/usr/local/bioinf/mutect/latest/mutect-1.1.7.jar" // Version: 1.1.7
  GATK3           = "/usr/local/bioinf/gatk/latest/GenomeAnalysisTK.jar" // Version 3.8-0
  SAMTOOLS        = "/usr/local/bioinf/samtools/latest/bin/samtools" // Version 1.9
  SAMBAMBA        = "/usr/local/bioinf/sambamba/sambamba-0.7.1/sambamba-0.7.1"
  VEP             = "/usr/local/bioinf/vep/ensembl-vep/vep" // Version 99
  vep_dir         = "/data/databases/vep"
  vep_cache       = "/data/databases/vep/"
  PICARD          = "/usr/local/bioinf/picard/picard-tools-2.22.1/picard.jar" // Version 2.22.1
  JAVA8           = "/usr/local/bioinf/java/jdk8/bin/java" // Version 1.8
  JAVA7           = "/usr/local/bioinf/java/jdk7/bin/java" // Version 1.7
  PERL            = "/usr/local/bioinf/perl/perl-5.24.3/bin/perl"
  TABIX           = "/usr/local/bioinf/bin/tabix"
  BGZIP           = "/usr/local/bioinf/bin/bgzip"
  BCFTOOLS        = "/usr/local/bioinf/bin/bcftools"
  OPTITYPE        = "/usr/local/bioinf/optiType/OptiType-master-20171212/OptiTypePipeline.py" // Version 1.3.1
  PYTHON          = "/usr/local/bioinf/bin/python" // Version 2.7.14
  YARA            = "/usr/local/bioinf/bin/yara_mapper"
  HLAHD           = "/usr/local/bioinf/HLA_HD/hlahd.1.2.1/bin/hlahd.sh"
  HLAHD_PATH      = "/usr/local/bioinf/HLA_HD/hlahd.1.2.1/bin"
  MIXCR           = "/usr/local/bioinf/mixcr/mixcr-3.0.12/mixcr"
  MiXMHC2PRED     = "/usr/local/bioinf/MixMHC2pred/MixMHC2pred_unix"

  // Java settings
  JAVA_Xmx = "-Xmx64G"
  JAVA_Xmx_spark = "-Xmx64G"

  // samtools memory
  STperThreadMem = "8G"

  // sambamba settings
  SB_hash_table_size = "1048576"
  SB_overflow_list_size = "1000000"
  SB_io_buffer_size = "1024"


  // Filter variants (FilterMutect2Tumor): set minimum allele depth
  minAD = 5

  // Picard common options
  maxRecordsInRam = "2097152"

  //VarScan
  //Process VarscanSomatic
  min_cov                 = "10"
  min_cov_tumor           = "10"
  min_cov_normal          = "10"
  min_freq_for_hom        = "0.75"
  tumor_purity            = "0.95"
  somatic_pvalue          = "0.99"
  somatic_somaticpvalue   = "0.05"
  strand_filter           = "1"
  //Process: ProcessSomatic
  processSomatic_pvalue   = "0.05"
  max_normal_freq         = "0.05"
  min_tumor_freq          = "0.1"

  // BAMREADCOUNT
  min_map_q               = "10"
  min_base_q              = "20"

  // VEP
  vep_assembly            = "GRCh38"
  vep_species             = "homo_sapiens"
  vep_options             = "--af --af_1kg --af_gnomad --appris --biotype --check_existing --distance 5000 --failed 1 --merged --numbers --polyphen b --protein --pubmed --regulatory --sift b --symbol --xref_refseq --tsl --gene_phenotype"

  // Scatter Count
  scatter_count           = "40"

  // HLA-HD
  MHC_genomic_region {
    "hg38" { region = "chr6:28510120-33480577" }
    "hg19" { region = "chr6:28477797-33448354" }
  }
  HLA_HD_genome_version = "hg38"

  // NeoFuse
  pepMin_length  = "8"
  pepMax_length  = "11"
  out_ID         = ""
  IC50_Threshold = "500"
  rank           = "Inf"
  conf_lvl       = "L"
  netMHCpan      = "false"

  //Process: NeoFuse_build
  build           = "false"
  buildRef        = "false"
  version         = "GRCh38"

  // pVACseq
  mhci_epitope_len  = "8,9,10,11"
  mhcii_epitope_len = "15,16,17,18,19,20,21,22,23,24,25" // minimum length has to be at least 15 (see pVACtools /opt/iedb/mhc_ii/mhc_II_binding.py line 246)
  baff_tools        = "NetMHCpan NetMHCIIpan"
  top_sc_metric     = "lowest"
  excl_NA           = "True"
  stability         = "False"
  min_fc            = "1"
  nrm_cov           = "5"
  tdna_cov          = "10"
  trna_cov          = "10"
  nrm_vaf           = "0.02"
  tdna_vaf          = "0.25"
  trna_vaf          = "0.25"
  exp_val           = "1.0"
  max_sup_lvl       = "1"
  pass_only         = "True"
  use_NetChop       = false
  use_NetMHCstab    = false

  // CSiN
  csin_rank      = "0.375 0.5 0.625 0.75 1.25 1.75 2"
  csin_ic50      = "500"
  csin_gene_exp  = "1"

  // TCRs using mixcr
  TCR = true
}

timeline {
  enabled = true
  file = "${params.tracedir}/icbi/wes_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/icbi/wes_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/icbi/wes_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/icbi/wes_dag.svg"
}

manifest {
  name = 'icbi/wes'
  author = 'Dietmar Rieder'
  homePage = 'https://gitlab.i-med.ac.at/icbi-lab/pipelines/wes-nf/'
  description = 'WES as a Nextflow pipeline'
  mainScript = 'wes.nf'
  nextflowVersion = '>=18.10.1'
  version = '1.0'
}

singularity {
    enabled = true
  autoMounts = true
}
