includeConfig './sge.config'

params {
  //Data
  readsTumor    ="NO_FILE" // REQUIRED: absolute path to reads files of tumor sampled;
                        // paired-end reads "/PATH/TO/FILE/reads_tumor{1,2}.fq"
                        // single-end reads "/PPATH/TO/FILE/reads_tumor1.fq"
  readsControl  ="NO_FILE" // OPTIONAL: absolute path to reads file of control sample:
                           // paired-edn reads "/PATH/TO/FILE/reads_control{1,2}.fq"
                           // single-end reads "/PPATH/TO/FILE/reads_tumor1.fq"
  single_end    = false

  //Directories
  workDir         ="$PWD"
  outputDir       ="${workDir}/RESULTS"
  publishDirMode  ="link" // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy", "copyNoFollow" - copying wihtout following symlink

  help = false

  //References
  references {
    RefFasta        ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.fa"
    RefIdx          ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.fa.fai"
    RefDict         ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.dict"
    BwaRef          ="/home/haider/myScratch/wes/hg38_ref/GRCh38.d1.vd1.fa.{amb,sa,ann,pac,bwt}"
    VepFasta        ="/data/databases/vep/homo_sapiens/91_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
    IntervalsList   ="/data/projects/2017/Organoids-ICBI/Exome_03/ExomeCaptureKit/hg38_liftOver_padded_150/S07604514_Padded_hg38_no_alt.list"
    IntervalsBed    ="/data/projects/2017/Organoids-ICBI/Exome_03/ExomeCaptureKit/hg38_liftOver_padded_150/S07604514_Regions_hg38_no_alt.bed"
  }

  //Databases
  databases {
    MillsGold  ="/data/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf"
    MillsGoldIdx ="/data/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.idx"
    Cosmic      ="/data/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf"
    CosmicIdx   ="/data/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf.idx"
    DBSNP       ="/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf"
    DBSNPIdx       ="/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
    GnomAD      ="/home/haider/myScratch/wes/hg38_ref/small_exac_common_3.hg38.vcf"
    GnomADIdx      ="/home/haider/myScratch/wes/hg38_ref/small_exac_common_3.hg38.vcf.idx"
    KnownIndels ="/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf"
    KnownIndelsIdx="/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf.idx"
  }


  //Software
  BWA             ="/usr/local/bin/bwa" // Version 0.7.17
  VARSCAN         ="/usr/local/pkgs/varscan-2.4.3-0/share/varscan-2.4.3-0/VarScan.jar" // Version: 2.4.3
  BAMREADCOUNT    ="/usr/local/bin/bam_readcount/bam-readcount" // Version: 0.8.0
  GATK4           ="/usr/local/bin/gatk" // Version: 4.1.3.0
  MUTECT1         ="/usr/local/bin/mutect/mutect-1.1.7.jar" // Version: 1.1.7
  GATK3           ="/usr/local/opt/gatk-3.8/GenomeAnalysisTK.jar" // Version 3.8-0
  SAMTOOLS        ="/usr/local/bin/samtools" // Version 1.9
  VEP             ="/usr/local/bin/vep" // Version 2.0
  vep_dir         ="/data/databases/vep"
  vep_cache       ="/data/databases/vep/"
  PICARD          ="/usr/local/pkgs/picard-2.20.8-0/share/picard-2.20.8-0/picard.jar" // Version 2.16.0
  JAVA8           ="/usr/local/bin/java" // Version 1.8
  JAVA7           ="/usr/lib/jvm/java-1.7.0/bin/java" // Version 1.7
  PERL            ="/usr/local/bin/perl"

  //script
  // VARIANTSORT     ="/home/haider/myScratch/wes/nextflow/variant_sort.sh"

  //VarScan
  //Process VarscanSomatic
  min_cov                 ="10"
  min_cov_tumor           ="10"
  min_cov_normal          ="10"
  min_freq_for_hom        ="0.75"
  tumor_purity            ="0.95"
  somatic_pvalue          ="0.99"
  somatic_somaticpvalue   ="0.05"
  strand_filter           ="1"
  //Process: ProcessSomatic
  processSomatic_pvalue   ="0.05"
  max_normal_freq         ="0.05"
  min_tumor_freq          ="0.1"

  // BAMREADCOUNT
  min_map_cov             ="10"
  min_base_q              ="20"

  // SAMTOOLS
  q                       ="1"

  // VEP
  vep_assembly            ="GRCh38"
  vep_species             ="homo_sapiens"
  vep_threads             ="16"
  vep_flags="--af --af_1kg --af_gnomad --appris --biotype --check_existing --distance 5000 --failed 1 --merged --numbers --polyphen b --protein --pubmed --regulatory --sift b --symbol --xref_refseq --tsl --gene_phenotype"

  // Scatter Count
  scatter_count           ="20"
}

singularity.enabled = true
process.container = '/data/scratch/haider/wes/WesNextflow.sif'
singularity.autoMounts = true
