includeConfig './sge.config'

params {

  help  = false
  email = false
  name  = false
  plaintext_email = false

  //Data
  readsTumor    = "NO_FILE" // REQUIRED: absolute path to reads files of tumor sampled;
                            // paired-end reads "/PATH/TO/FILE/reads_tumor{1,2}.fq"
                            // single-end reads "/PPATH/TO/FILE/reads_tumor1.fq"
  readsNormal  = "NO_FILE" // OPTIONAL: absolute path to reads file of Normal sample:
                            // paired-end reads "/PATH/TO/FILE/reads_normal{1,2}.fq"
                            // single-end reads "/PATH/TO/FILE/reads_tumor1.fq"
  single_end    = false
  single_end_RNA    = false
  readLength    = 150

  priorityCaller = "m2" // set the variant caller used as base for the hc variants.
                        // Only variants that are confirmed by any of the two confirming 
                        // callers (e..g. mutect1, varscan) will be retained
                        // m2 = mutect2, m1 = mutect1, vs = varscan
  cpus			 =	10
  //Directories
  tmpDir          = "/local/scratch/$USER"
  workDir         = "$PWD"
  outputDir       = "${workDir}/RESULTS"
  publishDirMode  = "link" // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy", "copyNoFollow" - copying wihtout following symlink

  tracedir         = "${params.outputDir}/pipeline_info"
  manifest.version = '1.0'

  //References
  references {
    RefFasta           = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.fa"
    RefIdx             = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.fa.fai"
    RefDict            = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.dict"
    BwaRef             = "/data/genomes/hg38/index/bwa/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.fa.{amb,sa,ann,pac,bwt}"
    VepFasta           = "/data/databases/vep/homo_sapiens/91_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
    BaitsBed           = "/data/databases/ExomeCaptureKits/Agilent/hg38/S07604514_Covered.bed"
    RegionsBed         = "/data/databases/ExomeCaptureKits/Agilent/hg38/S07604514_Regions.bed"
	YaraIndex			="/data/projects/2019/NeoAG/OptiType-nf/data/indices/yara/hla_reference_dna"
	HLAHDFreqData		="/data/projects/2019/NeoAG/HLA_HD/hlahd.1.2.1/freq_data"
	HLAHDGeneSplit		="/data/projects/2019/NeoAG/HLA_HD/hlahd.1.2.1/HLA_gene.split.txt"
	HLAHDDict			="/data/projects/2019/NeoAG/HLA_HD/hlahd.1.2.1/dictionary/"
	STARidx 			="/data/genomes/hg38/index/STAR/2.7.1a/gencode/gencode.v32.GRCh38.primary_assembly.genome/100/"
    AnnoFile 			="/data/genomes/hg38/annotation/gencode/gencode.v32.primary_assembly.annotation.gtf"
    RefFASTA 			="/data/genomes/hg38/fasta/gencode/GRCh38.primary_assembly.genome.fa"
  }

  //Databases
  databases {
    MillsGold      = "/data/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf"
    MillsGoldIdx   = "/data/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.idx"
    hcSNPS1000G    = "/data/databases/GATKresourceBundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
    hcSNPS1000GIdx = "/data/databases/GATKresourceBundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi"
    HapMap         = "/data/databases/GATKresourceBundle/hapmap_3.3.hg38.vcf.gz"
    HapMapIdx      = "/data/databases/GATKresourceBundle/hapmap_3.3.hg38.vcf.gz.tbi"
    Cosmic         = "/data/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf"
    CosmicIdx      = "/data/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf.idx"
    DBSNP          = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf"
    DBSNPIdx       = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
    GnomAD         = "/data/databases/GATKresourceBundle/Mutect2/GetPileupSummaries/small_exac_common_3.hg38.vcf"
    GnomADIdx      = "/data/databases/GATKresourceBundle/Mutect2/GetPileupSummaries/small_exac_common_3.hg38.vcf.idx"
    GnomADfull     = "/data/databases/GATKresourceBundle/Mutect2/gnomAD/af-only-gnomad.hg38.vcf.gz"
    GnomADfullIdx  = "/data/databases/GATKresourceBundle/Mutect2/gnomAD/af-only-gnomad.hg38.vcf.gz.tbi"
    KnownIndels    = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf"
    KnownIndelsIdx = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf.idx"
  }


  //Software
  BWA             = "/usr/local/bioinf/bwa/latest/bwa" // Version 0.7.17
  VARSCAN         = "/usr/local/bioinf/varscan/latest/VarScan.v2.4.3.jar" // Version: 2.4.3
  BAMREADCOUNT    = "/usr/local/bioinf/bam-readcount/latest/bam-readcount" // Version: 0.8.0
  GATK4           = "/usr/local/bioinf/gatk/latest4/gatk" // Version: 4.1.4.1
  MUTECT1         = "/usr/local/bioinf/mutect/latest/mutect-1.1.7.jar" // Version: 1.1.7
  GATK3           = "/usr/local/bioinf/gatk/latest/GenomeAnalysisTK.jar" // Version 3.8-0
  SAMTOOLS        = "/usr/local/bioinf/samtools/latest/bin/samtools" // Version 1.9
  VEP             = "/usr/local/bioinf/vep/ensembl-vep/vep" // Version 2.0
  vep_dir         = "/data/databases/vep"
  vep_cache       = "/data/databases/vep/"
  PICARD          = "/usr/local/bioinf/picard/picard-tools-2.21.4/picard.jar" // Version 2.21.4
  JAVA8           = "/usr/local/bioinf/java/jdk8/bin/java" // Version 1.8
  JAVA7           = "/usr/local/bioinf/java/jdk7/bin/java" // Version 1.7
  PERL            = "/usr/local/bioinf/perl/perl-5.24.3/bin/perl"
  TABIX           = "/usr/local/bioinf/bin/tabix"
  BGZIP           = "/usr/local/bioinf/bin/bgzip"
  BCFTOOLS        = "/usr/local/bioinf/bin/bcftools"
  OPTITYPE			="/usr/local/bioinf/optiType/OptiType-master-20171212/OptiTypePipeline.py" // Version 1.3.1
  PYTHON			="/usr/local/bioinf/bin/python" // Version 2.7.14
  YARA				="/usr/local/bioinf/bin/yara_mapper"
  HLAHD				="/home/fotakis/myScratch/neoAG_pipeline/HLA_HD/hlahd.1.2.1/bin/hlahd.sh"

  // Java settings
  JAVA_Xmx = "-Xmx32G"

  // Filter variants (FilterMutect2Tumor): set minimum allele depth
  minAD = 5
  //script
  
    // Picard common options
  maxRecordsInRam  = "10000000"

  //VarScan
  //Process VarscanSomatic
  min_cov                 = "10"
  min_cov_tumor           = "10"
  min_cov_normal          = "10"
  min_freq_for_hom        = "0.75"
  tumor_purity            = "0.95"
  somatic_pvalue          = "0.99"
  somatic_somaticpvalue   = "0.05"
  strand_filter           = "1"
  //Process: ProcessSomatic
  processSomatic_pvalue   = "0.05"
  max_normal_freq         = "0.05"
  min_tumor_freq          = "0.1"

  // BAMREADCOUNT
  min_map_cov             = "10"
  min_base_q              = "20"

  // VEP
  vep_assembly            = "GRCh38"
  vep_species             = "homo_sapiens"
  vep_options             = "--af --af_1kg --af_gnomad --appris --biotype --check_existing --distance 5000 --failed 1 --merged --numbers --polyphen b --protein --pubmed --regulatory --sift b --symbol --xref_refseq --tsl --gene_phenotype"

  // Scatter Count
  scatter_count           = "20"

  // NeoFuse
  //NeoFuse
  //Process NeoFuse
	pepMin_length	="8"
	pepMax_length	="11"
	out_ID			=""
	IC50_Threshold	="500"
	rank			="Inf"
	conf_lvl		="L"
	netMHCpan		="false"
	//Process: NeoFuse_build
	build		="false"
	buildRef	="false"
	version		="GRCh38"

	// pVACseq
	epitope_len	="8,9,10,11"
	HLA_types	=""
	baff_tools	="NetMHCpan NetMHCIIpan"
	valid_HLAs	="./bin/alleles.txt"
	top_sc_metric	="lowest"
	excl_NA		="True"
	stability	="False"
	min_fc		="1"
	nrm_cov		="5"
	tdna_cov	="10"
	trna_cov	="10"
	nrm_vaf		="0.02"
	tdna_vaf	="0.25"
	trna_vaf	="0.25"
	exp_val		="1.0"
	max_sup_lvl	="1"
	pass_only	="True"

}

timeline {
  enabled = true
  file = "${params.tracedir}/icbi/wes_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/icbi/wes_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/icbi/wes_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/icbi/wes_dag.svg"
}

process {
    withName:Neofuse_single {
        container = '/data/projects/2019/NeoAG/images/NeoFuse.sif'
	}

	withName:gene_annotator {
		container = '/data/projects/2019/NeoAG/images/pVACtools.sif'
	}

	withName:pVACseq {
        container = '/data/projects/2019/NeoAG/images/pVACtools.sif'
    }

	withName:ranked_reports {
        container = '/data/projects/2019/NeoAG/images/pVACtools.sif'
    }
}

manifest {
  name = 'icbi/wes'
  author = 'Dietmar Rieder'
  homePage = 'https://gitlab.i-med.ac.at/icbi-lab/pipelines/wes-nf/'
  description = 'WES as a Nextflow pipeline'
  mainScript = 'wes.nf'
  nextflowVersion = '>=18.10.1'
  version = '1.0'
}

singularity {
    enabled = true
	autoMounts = true
}
