includeConfig './sge.config'

params {
	//Data
	reads1			="NO_FILE" // REQUIRED: absolute path to reads 1 files;
                        // paired-end reads "/PATH/TO/FILE/reads_tumor_1.fq"
                        // single-end reads "/PPATH/TO/FILE/reads_tumor_1.fq"
	reads2			="NO_FILE" // OPTIONAL: absolute path to read 2 files (for paired-end samples);
                        // paired-end reads "/PATH/TO/FILE/reads_tumor_2.fq"
	tsv_file		="NO_FILE" // OPTIONAL: absolute path to TSV file containing the paths to multiple samples
	single_end		=false

	//Directories
	workDir         ="$PWD"
	outputDir       ="${workDir}/RESULTS"
	publishDirMode  ="link" // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy", "copyNoFollow" - copying wihtout following symlink

	help = false

	//References
	references {
    STARidx 		="/home/fotakis/myScratch/neoAG_pipeline/NeoFuse_v1.1/index/STAR_idx"
    AnnoFile 		="/home/fotakis/myScratch/neoAG_pipeline/NeoFuse_v1.1/index/GRCh38.primary_assembly.genome.fa"
    RefFASTA 		="/home/fotakis/myScratch/neoAG_pipeline/NeoFuse_v1.1/index/gencode.v31.annotation.gtf"
  }


	//Software
	// NEOFUSE             ="/usr/local/bin/NeoFuse" // Version 1.2

	//script
	// CONVERTGENENAME     ="/home/fotakis/myScratch/neoAG_pipeline/RNA_nf/bin/NameToID.py"

	//NeoFuse
	//Process NeoFuse
	pepMin_length	=""
	pepMax_length	=""
	out_ID			=""
	IC50_Threshold	=""
	rank			=""
	conf_lvl		=""
	netMHCpan		=""
	
	//Process: NeoFuse_build
	build		="false"
	buildRef	="false"
	version		="GRCh38"
}

process {
    withName:Neofuse_multi {
        container = '/home/fotakis/myScratch/neoAG_pipeline/NeoFuse_v1.1/NeoFuse.sif'
    }
	withName:Neofuse_single1 {
        container = '/home/fotakis/myScratch/neoAG_pipeline/NeoFuse_v1.1/NeoFuse.sif'
    }
	withName:Neofuse_single2 {
        container = '/home/fotakis/myScratch/neoAG_pipeline/NeoFuse_v1.1/NeoFuse.sif'
    }
	withName:Neofuse_build {
		container = '/home/fotakis/myScratch/neoAG_pipeline/NeoFuse_v1.1/NeoFuse.sif'
	}
	withName:Neofuse {
		container = '/home/fotakis/myScratch/neoAG_pipeline/NeoFuse_v1.1/NeoFuse.sif'
	}
    withName:pVACseq {
        container = '/home/fotakis/myScratch/neoAG_pipeline/pVACseq/pVACtools.sif'
    }
}
singularity {
    enabled = true
	autoMounts = true
}
