process {

    // default errorStrategy 2 attempts then finish
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // default number of cpus to uses
    cpus = 1

    withName:bam2fastq {
        cpus = 4
    }

    withName:FastQC {
        cpus = 2
    }

    withName:FastQC_trimmed {
        cpus = 2
    }

    withName:fastp {
        cpus = 8
    }

    withName:make_uBAM {
        beforeScript = "ulimit -n 4096"
    }

    withName:Bwa {
        cpus = 16
    }

    withName:MarkDuplicates {
        cpus = 4
    }

    withName:Mutect2 {
        cpus = 8
    }

    withName:Mutect1scattered {
        cpus = 1
    }

    withName:VarscanSomaticScattered {
        cpus = 2
    }

    withName:IndelRealignerIntervals {
        cpus = 8
    }

    withName:GatherRealignedBamFiles {
        cpus = 8
    }

    withName:GatherRecalBamFiles {
        cpus = 8
    }

    withName:scatterGATK4applyBQSRS {
        cpus = 2
    }

    withName:alignmentMetrics {
        cpus = 8
    }

    withName:HaploTypeCaller {
        cpus = 2
    }

    withName:CNNScoreVariants {
        cpus = 2
    }

    withName:mkCombinedVCF {
        cpus = 4
    }

    withName:ReadBackedphasing {
        cpus = 8
    }

    withName:MantaSomaticIndels {
        cpus = 16
    }

    withName:StrelkaSomatic {
        cpus = 16
    }

    withLabel:VEP {
        cpus = 16
    }

    withName:Mpileup4ControFREEC {
        cpus = 8
    }

    withName:gatherMpileups {
        cpus = 8
    }

    withName:ControlFREEC {
        cpus = 16
    }

    withName:SequenzaUtils {
        cpus = 4
    }

    withName:gatherSequenzaInput {
        cpus = 4
    }

    withName:CNVkit {
        cpus = 16
    }

    withName:mhc_extract {
        cpus = 4
    }

    withName:pre_map_hla {
        cpus = 16
    }

    withName:pre_map_hla_RNA {
        cpus = 16
    }

    withName:run_hla_hd {
        cpus = 10
    }

    withName:run_hla_hd_RNA {
        cpus = 10
    }

    withName:mixcr {
        cpus = 16
    }

    withName:MutationalBurden {
        cpus = 16
    }

    withName:MutationalBurdenCoding {
        cpus = 16
    }

    withLabel:HLAHD {
        cpus = 10
    }

    withName:blast_epitopes {
        cpus = 10
    }

    withName:Neofuse {
        container = 'https://apps-01.i-med.ac.at/images/singularity/NeoFuse_dev_0d1d4169.sif'
        cpus = 10
    }

    withLabel:pVACtools {
        container = 'https://apps-01.i-med.ac.at/images/singularity/pVACtools_3.0.0_icbi_5dfca363.sif'
    }

    withName:pVACseq {
        cpus = 10
    }

}
