// Here the differnt pipeline profiles are configured.
//
// E.g.:
// To run the pipeline using conda environments specify the "-profile conda"
// option.
//
// To run the pipeline on a cluster using conda specifa "-profile conda,cluster"
// Please adjust the options for the cluster profile to match your cluster's
// scheduling system. The example here works with SGE. If your cluser is running
// another scheduler e.g. slurm please change the settings accordingly.
// See also https://www.nextflow.io/docs/latest/executor.html


profiles {

    // envs to be used in the conda profile
    conda {

        process {

            withLabel: nextNEOpiENV {
                conda = "${baseDir}/assets/nextNEOpi.yml"
            }

            withLabel: IGS {
                conda = "${baseDir}/assets/nextNEOpi.yml"
            }

            withLabel: GATK3 {
                conda = 'bioconda::gatk=3.8'
            }

            withLabel: Manta {
                conda = 'bioconda::manta'
            }

            withLabel: Strelka {
                conda = 'bioconda::strelka'
            }

            withLabel: VEP {
                conda = 'bioconda::ensembl-vep=' + params.vep_version
            }

            withLabel: CNVkit {
                conda = 'bioconda::cnvkit=0.9.8'
            }

            withLabel: Freec {
              conda = 'bioconda::control-freec'
            }

            withLabel: AlleleCounter {
              conda = 'bioconda:cancerit-allelecount=4.2.0'
            }
        }
    }

    // containers to be used in singularity profile
    singularity {
        process {

            withLabel: nextNEOpiENV {
                container = 'library://icbi-lab/default/nextneopi:latest'
            }

            withLabel: IGS {
                container = 'library://icbi-lab/default/rigscore:latest'
            }

            withLabel: GATK3 {
                container = 'docker://quay.io/biocontainers/gatk:3.8--10'
            }

            withLabel: Manta {
                container = 'docker://quay.io/biocontainers/manta:1.6.0--py27_0'
            }

            withLabel: Strelka {
                container = 'docker://quay.io/biocontainers/strelka:2.9.10--0'
            }

            withLabel: VEP {
                container = 'docker://quay.io/biocontainers/ensembl-vep:103.1--pl526hecda079_0'
            }

            withLabel: CNVkit {
                container = 'docker://quay.io/biocontainers/cnvkit:0.9.8--py_0'
            }

            withLabel: Freec {
                container = 'docker://quay.io/biocontainers/control-freec:11.6--he1b5a44_0'
            }

            withLabel: AlleleCounter {
              container = 'quay.io/biocontainers/cancerit-allelecount:4.2.1--h3ecb661_0'
            }

        }

    }

    standard {
        process.executor = 'local'
    }

    // cluster profile
    cluster {
        process.executor = 'sge'
        process.penv = 'smp'
        process.clusterOptions = { '-V -r y -S /bin/bash -q all.q@apollo-* -l avx' }
    }
}