// Here the differnt pipeline profiles are configured.
//
// E.g.:
// To run the pipeline using conda environments specify the "-profile conda"
// option.
//
// To run the pipeline on a cluster using conda specifa "-profile conda,cluster"
// Please adjust the options for the cluster profile to match your cluster's
// scheduling system. The example here works with SGE. If your cluser is running
// another scheduler e.g. slurm please change the settings accordingly.
// See also https://www.nextflow.io/docs/latest/executor.html


profiles {

    // envs to be used in the conda profile
    conda {

        process {

            withLabel: nextNEOpiENV {
                conda = "${baseDir}/assets/nextNEOpi.yml"
            }

            withLabel: IGS {
                conda = "${baseDir}/assets/nextNEOpi.yml"
            }

            withLabel: GATK3 {
                conda = 'bioconda::gatk=3.8'
            }

            withLabel: Manta {
                conda = 'bioconda::manta=1.6.0'
            }

            withLabel: Strelka {
                conda = 'bioconda::strelka=2.9.10'
            }

            withLabel: VEP {
                conda = 'bioconda::ensembl-vep=' + params.vep_version
            }

            withLabel: CNVkit {
                conda = 'bioconda::cnvkit=0.9.9'
            }

            withLabel: Freec {
              conda = 'bioconda::control-freec=11.6'
            }

            withLabel: AlleleCounter {
              conda = 'bioconda:cancerit-allelecount=4.3.0'
            }
        }
    }

    // containers to be used in singularity profile
    singularity {
        process {

            withLabel: nextNEOpiENV {
                container = 'library://icbi-lab/default/nextneopi:latest'
            }

            withLabel: IGS {
                container = 'library://icbi-lab/default/rigscore:latest'
            }

            withLabel: GATK3 {
                container = 'https://depot.galaxyproject.org/singularity/gatk:3.8--hdfd78af_11'
            }

            withLabel: Manta {
                container = 'https://depot.galaxyproject.org/singularity/manta:1.6.0--h9ee0642_1'
            }

            withLabel: Strelka {
                container = 'https://depot.galaxyproject.org/singularity/strelka:2.9.10--h9ee0642_1'
            }

            withLabel: VEP {
                container = 'https://depot.galaxyproject.org/singularity/ensembl-vep:103.1--pl5262h4a94de4_2'
            }

            withLabel: CNVkit {
                container = 'https://depot.galaxyproject.org/singularity/cnvkit:0.9.9--pyhdfd78af_0'
            }

            withLabel: Freec {
                container = 'https://depot.galaxyproject.org/singularity/control-freec:11.6--h1b792b2_1'
            }

            withLabel: AlleleCounter {
              container = 'https://depot.galaxyproject.org/singularity/cancerit-allelecount:4.3.0--h41abebc_0'
            }

        }

    }

    standard {
        process.executor = 'local'
    }

    // cluster profile
    cluster {
        process.executor = 'sge'
        process.penv = 'smp'
        process.clusterOptions = { '-V -r y -S /bin/bash -q all.q@apollo-* -l avx' }
    }
}