// Here the different pipeline profiles are configured.
//
// E.g.:
// To run the pipeline using conda environments specify the "-profile conda"
// option.
//
// You may also set some
//
// To run the pipeline on a cluster using conda, specify "-profile conda,cluster"
// Please uncomment and adjust the options for the cluster profile to match your cluster's
// scheduling system. The provided example here works with SGE. If your cluster is running
// another scheduler e.g. slurm please change the settings accordingly.
// See also https://www.nextflow.io/docs/latest/executor.html and
// https://www.nextflow.io/docs/latest/config.html#config-profiles


profiles {

    params.gatk3_conda_url = ""

    // envs to be used in the conda profile
    conda {

        params.enable_conda = true
        params.gatk4version = "4.4.0.0"

        conda.createTimeout = "60 min"
        conda.useMamba = true
        conda.enabled = true

        process {

            withLabel: nextNEOpiENV {
                conda = "${baseDir}/assets/nextNEOpi.yml"
            }

            withLabel: IGS {
                conda = "${baseDir}/assets/rigscore.yml"
            }

            withLabel: GATK3 {
                conda = 'bioconda::gatk=3.8'
                params.gatk3_conda_url = "https://anaconda.org/bioconda/gatk/3.8/download/noarch/gatk-3.8-hdfd78af_11.tar.bz2"
            }

            withLabel: Manta {
                conda = 'bioconda::manta=1.6.0'
            }

            withLabel: Strelka {
                conda = 'bioconda::strelka=2.9.10'
            }

            withLabel: VEP {
                conda = 'bioconda::ensembl-vep=' + params.vep_version
            }

            withLabel: CNVkit {
                conda = 'bioconda::cnvkit=0.9.10'
            }

            withLabel: Freec {
                conda = 'bioconda::control-freec=11.6'
            }

            withLabel: AlleleCounter {
                conda = 'bioconda::cancerit-allelecount=4.3.0'
            }

            withLabel: Blast {
                conda = 'bioconda::blast=2.12.0'
            }

            withLabel: multiqc {
                conda = 'bioconda::multiqc=1.14.0'
            }

            withLabel: fastp {
                conda = 'bioconda::fastp=0.23.4'
            }

            withLabel: fastqc {
                conda = 'bioconda::fastqc=0.12.1'
            }

        }
    }

    // containers to be used in singularity profile
    singularity {

        params.enable_conda = false
        conda.enabled = false

        process {

            withLabel: nextNEOpiENV {
                container = 'https://apps-01.i-med.ac.at/images/singularity/nextNEOpi_1.4.0_f894e892.sif'
            }

            withLabel: IGS {
                container = 'https://apps-01.i-med.ac.at/images/singularity/rigscore_1.4_b0be2896.sif'
            }

            withLabel: GATK3 {
                container = 'https://depot.galaxyproject.org/singularity/gatk:3.8--hdfd78af_11'
            }

            withLabel: Manta {
                container = 'https://depot.galaxyproject.org/singularity/manta:1.6.0--h9ee0642_1'
            }

            withLabel: Strelka {
                container = 'https://depot.galaxyproject.org/singularity/strelka:2.9.10--h9ee0642_1'
            }

            withLabel: VEP {
                container = 'https://depot.galaxyproject.org/singularity/ensembl-vep:110.0--pl5321h2a3209d_0'
            }

            withLabel: CNVkit {
                container = 'https://depot.galaxyproject.org/singularity/cnvkit:0.9.10--pyhdfd78af_0'
            }

            withLabel: Freec {
                container = 'https://depot.galaxyproject.org/singularity/control-freec:11.6--h1b792b2_1'
            }

            withLabel: AlleleCounter {
                container = 'https://depot.galaxyproject.org/singularity/cancerit-allelecount:4.3.0--h41abebc_0'
            }

            withLabel: Blast {
                container = 'https://depot.galaxyproject.org/singularity/blast:2.12.0--pl5262h3289130_0'
            }

            withLabel: multiqc {
                container = 'https://depot.galaxyproject.org/singularity/multiqc:1.14--pyhdfd78af_0'
            }

            withLabel: fastp {
                container = 'https://depot.galaxyproject.org/singularity/fastp:0.23.4--hadf994f_2'
            }

            withLabel: fastqc {
                container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'
            }

        }

    }

    // standard profile
    // Please uncomment and change if needed

    standard {
        params.enable_conda = false
        conda.enabled = false
        // process.executor = 'local'
    }

    // cluster profile
    // Please uncomment and change if needed

    cluster {
        // process.executor = 'sge'
        // process.penv = 'smp'
        // process.clusterOptions = { '-V -r y -S /bin/bash -q all.q@apollo-* -l avx' }
    }

}