params {

    //Databases
    databases {
        MillsGold      = "${params.resourcesBaseDir}/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf"
        MillsGoldIdx   = "${params.resourcesBaseDir}/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.idx"
        hcSNPS1000G    = "${params.resourcesBaseDir}/databases/GATKresourceBundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
        hcSNPS1000GIdx = "${params.resourcesBaseDir}/databases/GATKresourceBundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi"
        HapMap         = "${params.resourcesBaseDir}/databases/GATKresourceBundle/hapmap_3.3.hg38.vcf.gz"
        HapMapIdx      = "${params.resourcesBaseDir}/databases/GATKresourceBundle/hapmap_3.3.hg38.vcf.gz.tbi"
        Cosmic         = "${params.resourcesBaseDir}/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf"
        CosmicIdx      = "${params.resourcesBaseDir}/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf.idx"
        DBSNP          = "${params.resourcesBaseDir}/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf"
        DBSNPIdx       = "${params.resourcesBaseDir}/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
        GnomAD         = "${params.resourcesBaseDir}/databases/GATKresourceBundle/Mutect2/GetPileupSummaries/small_exac_common_3.hg38.vcf"
        GnomADIdx      = "${params.resourcesBaseDir}/databases/GATKresourceBundle/Mutect2/GetPileupSummaries/small_exac_common_3.hg38.vcf.idx"
        GnomADfull     = "${params.resourcesBaseDir}/databases/GATKresourceBundle/Mutect2/gnomAD/af-only-gnomad.hg38.vcf.gz"
        GnomADfullIdx  = "${params.resourcesBaseDir}/databases/GATKresourceBundle/Mutect2/gnomAD/af-only-gnomad.hg38.vcf.gz.tbi"
        KnownIndels    = "${params.resourcesBaseDir}/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf"
        KnownIndelsIdx = "${params.resourcesBaseDir}/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf.idx"
        vep_cache      = "${params.resourcesBaseDir}/databases/vep_cache"
        IEDB_dir       = "${params.resourcesBaseDir}/databases/iedb"
        MHCFLURRY_dir  = "${params.resourcesBaseDir}/databases/mhcflurry_data"
    }

    //References
    references {
        RefFasta           = "${params.resourcesBaseDir}/references/hg38/gdc/GRCh38.d1.vd1/fasta/GRCh38.d1.vd1.fa"
        RefIdx             = "${params.resourcesBaseDir}/references/hg38/gdc/GRCh38.d1.vd1/fasta/GRCh38.d1.vd1.fa.fai"
        RefDict            = "${params.resourcesBaseDir}/references/hg38/gdc/GRCh38.d1.vd1/fasta/GRCh38.d1.vd1.dict"
        RefChrLen          = "${params.resourcesBaseDir}/references/hg38/gdc/GRCh38.d1.vd1/fasta/hg38.len"
        RefChrDir          = "${params.resourcesBaseDir}/references/hg38/gdc/GRCh38.d1.vd1/fasta/chromosomes"
        BwaRef             = "${params.resourcesBaseDir}/references/hg38/gdc/GRCh38.d1.vd1/index/bwa/GRCh38.d1.vd1.fa.{amb,sa,ann,pac,bwt}"
        VepFasta           = "${params.databases.vep_cache}/${params.vep_species}/${params.vep_cache_version}_${params.vep_assembly}/${params.vep_species.capitalize()}.${params.vep_assembly}.dna.toplevel.fa.gz"
        YaraIndexDNA       = "${params.resourcesBaseDir}/references/yara/hla_reference_dna.*"
        YaraIndexRNA       = "${params.resourcesBaseDir}/references/yara/hla_reference_rna.*"
        HLAHDFreqData      = "${params.HLAHD_DIR}/freq_data"
        HLAHDGeneSplit     = "${params.HLAHD_DIR}/HLA_gene.split.txt"
        HLAHDDict          = "${params.HLAHD_DIR}/dictionary/"
        STARidx            = "${params.resourcesBaseDir}/references/hg38/gdc/GRCh38.d1.vd1/index/star/"
        AnnoFile           = "${params.resourcesBaseDir}/references/hg38/annotation/gencode.v33.primary_assembly.annotation.gtf"
        ExonsBED           = "${params.resourcesBaseDir}/references/hg38/annotation/gencode.v33.primary_assembly.annotation.exon_merged.bed"
        acLoci             = "${params.resourcesBaseDir}/references/ASCAT/hg38SNPpos_InfiniumOmni2-5-8v1-4_chr.loci" // alleleCount loci
        acLociGC           = "${params.resourcesBaseDir}/references/ASCAT/GC_IlluminaOmni2-5-8v1-4_ICBI_hg38_4_WES_ascat.txt" // alleleCount loci GC content
        SequenzaGC         = "${params.resourcesBaseDir}/references/Sequenza/GRCh38.d1.vd1.gc50Base_3.0.txt.gz"
        ProteinBlastDBdir  = "${params.resourcesBaseDir}/references/blast/"
        ProteinBlastDBname =  "hs_refseq_uniprot"
    }

    exomeCaptureKits {
        sureSelectV6 {
            BaitsBed           = "${params.resourcesBaseDir}/ExomeCaptureKits/Agilent/hg38/S07604514_Covered.bed"
            RegionsBed         = "${params.resourcesBaseDir}/ExomeCaptureKits/Agilent/hg38/S07604514_Regions.bed"
        }
        sureSelectV7 {
            BaitsBed           = "${params.resourcesBaseDir}/ExomeCaptureKits/Agilent/hg38/S31285117_Covered.bed"
            RegionsBed         = "${params.resourcesBaseDir}/ExomeCaptureKits/Agilent/hg38/S31285117_Regions.bed"
        }
        Twist {
            BaitsBed           = "${params.resourcesBaseDir}/ExomeCaptureKits/Twist/hg38/Twist_ComprehensiveExome_baits_hg38.bed"
            RegionsBed         = "${params.resourcesBaseDir}/ExomeCaptureKits/Twist/hg38/Twist_ComprehensiveExome_targets_hg38.bed"
        }
    }

    // HLA-HD
    MHC_genomic_region {
        "hg38" { region = "chr6:28510120-33480577" }
        "hg19" { region = "chr6:28477797-33448354" }
    }

}