params {

    //References
    references {
        RefFasta           = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.fa"
        RefIdx             = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.fa.fai"
        RefDict            = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.dict"
        RefChrLen          = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/hg38.len"
        RefChrDir          = "/data/genomes/hg38/fasta/gdc/GRCh38.d1.vd1/chromosomes"
        BwaRef             = "/data/genomes/hg38/index/bwa/gdc/GRCh38.d1.vd1/GRCh38.d1.vd1.fa.{amb,sa,ann,pac,bwt}"
        VepFasta           = "/data/databases/vep/homo_sapiens/99_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
        YaraIndexDNA       = "/data/projects/2019/NeoAG/OptiType-nf/data/indices/yara/hla_reference_dna"
        YaraIndexRNA       = "/data/projects/2019/NeoAG/OptiType-nf/data/indices/yara/hla_reference_rna"
        HLAHDFreqData      = "/data/projects/2019/NeoAG/HLA_HD/hlahd.1.2.1/freq_data"
        HLAHDGeneSplit     = "/data/projects/2019/NeoAG/HLA_HD/hlahd.1.2.1/HLA_gene.split.txt"
        HLAHDDict          = "/data/projects/2019/NeoAG/HLA_HD/hlahd.1.2.1/dictionary/"
        STARidx            = "/data/genomes/hg38/index/STAR/2.7.1a/GDC_GENCODE/GRCh38.d1.vd1/star_genome_d1_vd1_gtf_gencode_v33/100"
        AnnoFile           = "/data/genomes/hg38/annotation/gencode/gencode.v33.primary_assembly.annotation.gtf"
        acLoci             = "/data/databases/ASCAT/hg38SNPpos_InfiniumOmni2-5-8v1-4_chr.loci" // alleleCount loci
        acLociGC           = "/data/databases/ASCAT/GC_IlluminaOmni2-5-8v1-4_ICBI_hg38_4_WES_ascat.txt" // alleleCount loci GC content
        SequenzaGC         = "/data/databases/Sequenza/GRCh38.d1.vd1.gc50Base_3.0.txt.gz"
    }

    //Databases
    databases {
        MillsGold      = "/data/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf"
        MillsGoldIdx   = "/data/databases/GATKresourceBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.idx"
        hcSNPS1000G    = "/data/databases/GATKresourceBundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
        hcSNPS1000GIdx = "/data/databases/GATKresourceBundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi"
        HapMap         = "/data/databases/GATKresourceBundle/hapmap_3.3.hg38.vcf.gz"
        HapMapIdx      = "/data/databases/GATKresourceBundle/hapmap_3.3.hg38.vcf.gz.tbi"
        Cosmic         = "/data/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf"
        CosmicIdx      = "/data/databases/cosmic/hg38/v84/CosmicCodingMuts.hg38.v84.vcf.idx"
        DBSNP          = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf"
        DBSNPIdx       = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
        GnomAD         = "/data/databases/GATKresourceBundle/Mutect2/GetPileupSummaries/small_exac_common_3.hg38.vcf"
        GnomADIdx      = "/data/databases/GATKresourceBundle/Mutect2/GetPileupSummaries/small_exac_common_3.hg38.vcf.idx"
        GnomADfull     = "/data/databases/GATKresourceBundle/Mutect2/gnomAD/af-only-gnomad.hg38.vcf.gz"
        GnomADfullIdx  = "/data/databases/GATKresourceBundle/Mutect2/gnomAD/af-only-gnomad.hg38.vcf.gz.tbi"
        KnownIndels    = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf"
        KnownIndelsIdx = "/data/databases/GATKresourceBundle/Homo_sapiens_assembly38.known_indels.vcf.idx"
    }

    exomeCaptureKits {
        sureSelectV6 {
            BaitsBed           = "/data/databases/ExomeCaptureKits/Agilent/hg38/S07604514_Covered.bed"
            RegionsBed         = "/data/databases/ExomeCaptureKits/Agilent/hg38/S07604514_Regions.bed"
        }
        sureSelectV7 {
            BaitsBed           = "/data/databases/ExomeCaptureKits/Agilent/hg38/S31285117_Covered.bed"
            RegionsBed         = "/data/databases/ExomeCaptureKits/Agilent/hg38/S31285117_Regions.bed"
        }

    }

}