process {
  executor = 'sge'
  penv = 'smp'
  clusterOptions = { '-V -S /bin/bash -q all.q@apollo-*' }

  cpus = 1
  memory = "32GB"

  withName:fastp_tumor {
    cpus = 8
  }
  withName:fastp_normal {
    cpus = 8
  }
  withName:fastp_RNAseq {
    cpus = 8
  }

  withName:BwaTumor {
    cpus = 17
  }
  withName:BwaNormal {
    cpus = 17
  }

  withName:Mutect2 {
    cpus = 2
  }

  withName:Mutect1scattered {
    cpus = 1
  }

  withName:VarscanSomaticScattered {
    cpus = 2
  }

  withName:IndelRealignerTumorIntervals {
    cpus = 8
  }
    withName:GatherRealignedBamFilesTumor {
    cpus = 4
  }

  withName:IndelRealignerNormalIntervals {
    cpus = 8
  }
  withName:GatherRealignedBamFilesNormal {
    cpus = 4
  }

  withName:BaseRecalTumorGATK4 {
    cpus = 8
  }
  withName:BaseRecalNormalGATK4 {
    cpus = 8
  }
  withName:AnalyzeCovariates {
    cpus = 8
  }


  withName:MarkDuplicatesNormal {
    cpus = 8
  }
  withName:MarkDuplicatesTumor {
    cpus = 8
  }
  withName:BaseRecalTumorGATK3 {
    cpus = 8
  }
  withName:BaseRecalNormalGATK3 {
    cpus = 8
  }
  withName:alignmentMetricsTumor {
    cpus = 8
  }
  withName:alignmentMetricsNormal {
    cpus = 8
  }


  withName:HaploTypeCaller {
    cpus = 2
  }

  withName:CNNScoreVariants {
    clusterOptions = { '-V -S /bin/bash -q all.q@apollo-* -l avx' }
    cpus = 2
  }

  withName:mkPhasedVCF {
    cpus = 8
  }

  withName:MantaSomaticIndels {
    cpus = 16
  }

  withName:StrelkaSomatic {
    cpus = 16
  }

  withName:VepTab {
    cpus = 8
  }

  withName:mhc_extract {
    cpus = 4
  }

  withName:pre_map_hla {
    cpus = 16
  }

  withName:pre_map_hla {
    cpus = 10
  }

  withName:OptiType {
    cpus = 10
  }

  withName:run_hla_hd {
    cpus = 10
  }

  withName:Neofuse {
    container = '/data/projects/2019/NeoAG/images/NeoFuse.sif'
	  clusterOptions = { '-V -S /bin/bash -l avx' }
    cpus = 10
  }

  withName:pVACseq {
    cpus = 10
  }

  withName:gene_annotator {
    container = '/data/projects/2019/NeoAG/images/pVACtools_dev.sif'
  }

  withName:pVACseq {
    container = '/data/projects/2019/NeoAG/images/pVACtools_dev.sif'
  }

  withName:ranked_reports {
    container = '/data/projects/2019/NeoAG/images/pVACtools_dev.sif'
  }

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 20
  max_time = 240.h
}
