process {
  executor = 'sge'
  penv = 'smp'
  clusterOptions = { '-V -S /bin/bash -q all.q@apollo-*' }

  cpus =1
  memory ="32GB"

  withName:BwaTumor {
    cpus = 17
  }
  withName:BwaNormal {
    cpus = 17
  }

  withName:Mutect2Tumor {
    cpus = 4
  }
  withName:Mutect2 {
    cpus = 4
  }


  withName:IndelRealignerTumorIntervals {
    cpus = 8
  }
    withName:MergeRealignedBamFilesTumor {
    cpus = 2
  }

  withName:IndelRealignerNormalIntervals {
    cpus = 8
  }
  withName:MergeRealignedBamFilesContol {
    cpus = 2
  }

// withName:ReorderSam {
//    cpus = 2
//  }

//  withName:FixMateBaseRecalTumor {
//    cpus = 8
//  }
//  withName:FixMateBaseRecalNormal {
//    cpus = 8
//  }

  withName:BaseRecalTumor {
    cpus = 8
  }
  withName:RecalNormal {
    cpus = 8
  }


//  withName:PrintReadsTumor {
//    cpus = 8
//  }
//  withName:PrintReadsNormal {
//    cpus= 8
//  }
  withName:MarkDuplicatesNormal {
    cpus = 8
  }
  withName:MarkDuplicatesTumor {
    cpus = 8
  }
  withName:BaseRecalApplyTumor {
    cpus = 8
  }
  withName:BaseRecalApplyNormal {
    cpus = 8
  }
  withName:alignmentMetricsNormal {
    cpus = 8
  }

  withName:HaploTypeCaller {
    cpus = 8
  }

  withName:CNNScoreVariants {
    clusterOptions = { '-V -S /bin/bash -q all.q@apollo-* -l avx' }
    cpus = 16
  }

  withName:mkPhasedVCF {
    cpus = 16
  }

}
