process {
  executor = 'sge'
  penv = 'smp'
  clusterOptions = { '-V -S /bin/bash -q all.q@apollo-*' }

  cpus = 1
  memory = "64GB"

  withName:fastp_tumor {
    cpus = 8
  }
  withName:fastp_normal {
    cpus = 8
  }
  withName:fastp_RNAseq {
    cpus = 8
  }

  withName:Bwa {
    cpus = 34
  }

  withName:Mutect2 {
    clusterOptions = { '-V -S /bin/bash -q all.q@apollo-* -l avx' }
    cpus = 2
  }

  withName:Mutect1scattered {
    cpus = 1
  }

  withName:VarscanSomaticScattered {
    cpus = 2
  }

  withName:IndelRealignerIntervals {
    cpus = 8
  }
  withName:GatherRealignedBamFiles {
    cpus = 8
  }
  withName:GatherRecalBamFiles {
    cpus = 8
  }
  withName:scatterGATK4applyBQSRS {
    cpus = 2
  }
  withName:alignmentMetrics {
    cpus = 8
  }

  withName:HaploTypeCaller {
    clusterOptions = { '-V -S /bin/bash -q all.q@apollo-* -l avx' }
    cpus = 2
  }

  withName:CNNScoreVariants {
    clusterOptions = { '-V -S /bin/bash -q all.q@apollo-* -l avx' }
    cpus = 2
  }

  withName:mkPhasedVCF {
    cpus = 8
  }

  withName:MantaSomaticIndels {
    clusterOptions = { '-V -S /bin/bash -q all.q@apollo-* -l avx' }
    cpus = 22
  }

  withName:StrelkaSomatic {
    clusterOptions = { '-V -S /bin/bash -q all.q@apollo-* -l avx' }
    cpus = 22
  }

  withName:VepTab {
    cpus = 8
  }

  withName:Mpileup4ControFREEC {
    cpus = 8
  }

  withName:gatherMpileups {
    cpus = 8
  }

  withName:ControlFREEC {
    cpus = 16
  }

  withName:SequenzaUtils {
    cpus = 4
  }
  withName:gatherSequenzaInput {
    cpus = 4
  }

  withName:mhc_extract {
    cpus = 4
  }

  withName:pre_map_hla {
    cpus = 16
  }

  withName:pre_map_hla_RNA {
    cpus = 16
  }

  withName:OptiType {
    cpus = 10
  }

  withName:run_hla_hd {
    cpus = 10
  }

  withName:mixcr_DNA_tumor {
    cpus = 16
  }

  withName:mixcr_DNA_normal {
    cpus = 16
  }

  withName:mixcr_RNA {
    cpus = 16
  }

  withName:Neofuse {
    container = '/data/projects/2019/NeoAG/images/NeoFuse_dev.sif'
	  clusterOptions = { '-V -S /bin/bash -l avx' }
    cpus = 10
  }

  withName:pVACseq {
    cpus = 10
  }

  withName:gene_annotator {
    // container = '/data/projects/2019/NeoAG/images/pVACtools_dev.sif'
    container = '/data/projects/2019/NeoAG/images/tmp/pVACtools_icbi.sif'
  }

  withName:pVACseq {
    // container = '/data/projects/2019/NeoAG/images/pVACtools_dev.sif'
    container = '/data/projects/2019/NeoAG/images/tmp/pVACtools_icbi.sif'
  }

  withName:pVACtools_generate_protein_seq {
    // container = '/data/projects/2019/NeoAG/images/pVACtools_dev.sif'
    container = '/data/projects/2019/NeoAG/images/tmp/pVACtools_icbi.sif'
  }

  withName:aggregated_reports {
    // container = '/data/projects/2019/NeoAG/images/pVACtools_dev.sif'
    container = '/data/projects/2019/NeoAG/images/tmp/pVACtools_icbi.sif'
  }

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 20
  max_time = 240.h
}
